html {
  scroll-behavior: smooth;
}

.glass {
  backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}

.glass:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.light-gradient {
  background: linear-gradient(to right, #93c5fd, #d1d5db);
}

.project-card {
  background: rgb(243, 245, 245);
  background: linear-gradient(0deg, rgba(243, 245, 245, 1) 0%, rgba(242, 242, 242, 1) 100%);
  margin: 25px 0;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  font-family: 'Montserrat', sans-serif;
}

.project-card:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.project-card h3 a {
  color: #1a202c;
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: 600;
}

.project-card h3 a:hover {
  color: #3182ce;
}

.project-card p {
  line-height: 1.5;
  margin-bottom: 20px;
  color: #4a5568;
}

.project-card ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.project-card ul li {
  margin-bottom: 10px;
}

.project-card img {
  max-width: 100%;
  width: 70%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .project-card {
    padding: 20px;
  }
}

.project-card img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.projects-button {
  font-weight: bold;
}

.mt-6.flex,
.flex.justify-center.space-x-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.mt-6.flex a,
.flex.justify-center.space-x-4 a {
  display: inline-block;
  text-align: center;
  padding: 12px 20px;
  margin: 0;
  width: auto;
}

@media (max-width: 420px) {

  .mt-6.flex,
  .flex.justify-center.space-x-4 {
    flex-direction: column;
    gap: 10px;
  }

  .mt-6.flex a,
  .flex.justify-center.space-x-4 a {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
}

.fixed {
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 9999;
}

a {
  text-align: center;
}

/* Section Styling */
.tech-section {
  text-align: center;
}

/* Title Styling */
.tech-title {
  font-size: 2.5rem;
  font-weight: bolder;
}

/* Tech Logos Styling */
.tech-logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
}

.tech-logo {
  width: 100px;
  height: 130px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tech-logo:hover {
  transform: scale(1.1);
  /*box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.05);*/
}

/* Image Styling */
.tech-logo img {
  width: 80%;
  height: 70%;
  object-fit: contain;
  margin-top: 10px;
}

/* Text Styling */
.tech-name {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #34495e;
  z-index:9999;
  font-family: "Geist Mono", monospace;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .tech-logo {
    width: 80px;
    height: 100px;
  }

  .tech-title {
    font-size: 2rem;
  }

  .tech-logos {
    gap: 20px;
  }
}

/* Hover Animation */
.tech-logo img {
  transition: transform 0.3s ease;
}

.tech-logo:hover img {
  transform: rotate(10deg);
}